body {
	font-family: 'Lato';
}
.times {
	margin : 10px;
}

.halfhour {
	margin : 20px;
}
.psbook {
	height:100%;
	padding-bottom: 59px;
}
.alert {
	/* padding: 20px;
	background-color: hsla(270, 7%, 5%, 0.247); Red */
	color: white;
	width : 50%;
	padding-bottom: 0px;
	margin-left: 32%;
	margin-top: 50px;
  }
@media only screen and (max-width: 600px){
	.alert{
	color: white;
	width : 100%;
	padding-bottom: 0px;
	margin-left: 0%;
	margin-top: 50px;
	}
}
/* .container {
	min-height: 100%;
} */
.header {
	color: white;
	padding-bottom: 50px;
}

.head {
	color:white
}

#main {
	padding-bottom: 349px;
	background-image: 'foosball.jpg'
}
ul {
	list-style-type: none;
  }