.times {
	margin : 10px;
}

.halfhour {
	margin : 20px;
}

.alert {
	/* padding: 20px;
	background-color: hsla(270, 7%, 5%, 0.247); Red */
	color: white;
	width : 500px;
	margin-bottom: 15px;
	margin-left: 400px;
	margin-top: 100px;
  }

.header {
	color: white;
}

.head {
	color:white
}