<section class="py-2">
  <div class="row">
    <div class="col-md-6 text-center">
        <h1 class="display-3 mt-3 pt-5">
          Students Club
        </h1><p class="lead">Book the table : {{table_id}}</p>
        <p>Do not refresh page while booking</p>
        <form action="/purchase" method="POST">
  <!-- Note that the amount is in paise = 50 INR -->
            <script
                src="https://checkout.razorpay.com/v1/checkout.js"
                data-key="rzp_test_yY6hENsbfg4E62"
                data-amount={{amount}}
                data-buttontext="Pay with Razorpay"
                data-name="Students Club"
                data-description="Book a table"
                
                
            ></script>
            <style>
              .razorpay-payment-button{
                background-color: #FFF;
                color: #1565b1;
                cursor: pointer;
                font-size: 18px;
                font-weight: 400;
                line-height: 58px;
                height: 60px;
                margin: 15px 0;
                min-width: 200px;
                text-align: center;
                text-transform: uppercase;
                transition: .3s;
              }
              .razorpay-payment-button:hover {
                -webkit-transform: scale(1.1);
                        transform: scale(1.1);
                box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 2px 4px 4px 0 rgba(0, 0, 0, 0.25);
              }
            </style>
            <input type="hidden" value="Hidden Element" name="hidden">
  </form>
    </div>
    <div class="col-md-6">
      <img src="/img/studentclub.jpg" alt="" class="img-fluid" style="margin-top:100px">
    </div>
  </div>
</section>