{{!-- <section class="py-2">
  <div class="row">
    <div class="col-md-6 text-center">
        <h1 class="display-3 mt-3 pt-5">
          Students Club
        </h1><p class="lead">Book the table : {{table_id}}</p>
        <p>Do not refresh page while booking</p>
          <form id="redirectForm" method="post" action="https://cashfree.com/checkout/post/submit">
            <input type="hidden" name="appId" value="1116119443cb58c759e2fcfcd16111"/>
            <input type="hidden" name="orderId" value={{order_id}}/>
            <input type="hidden" name="orderAmount" value={{amount}}/>
            <input type="hidden" name="orderCurrency" value="INR"/>
            <input type="hidden" name="orderNote" value="test"/>
            <input type="submit" name="customerName" value="hello"/>
            <input type="submit" name="customerEmail" value="Johndoe@test.com"/>
            <input type="submit" name="customerPhone" value="9999999999"/>
            <input type="hidden" name="returnUrl" value="http://localhost:4000/purchase"/>
            <input type="hidden" name="signature" value="<GENERATED_SIGNATURE>"/>
        </form>
           
    </div>
    <div class="col-md-6">
      <img src="/img/studentclub.jpg" alt="" class="img-fluid" style="margin-top:100px">
    </div>
  </div>
</section> --}}
