<section class="py-2">
  <div class="row">
    <div class="col-md-6 text-center">
       Sorry! You have already made 3 bookings for today. Refund cannot be processed now since you were already notified the same! 
    </div>
    <div class="col-md-6">
      <img src="/img/studentclub.jpg" alt="" class="img-fluid" style="margin-top:100px">
    </div>
  </div>
</section>