<section class="py-2">
  <div class="row">
    <div class="col-md-6 text-center">
        Your order has been confirmed!
        Thanks for booking!
        Your Bookings are : {{response.table_id}}
        <br></br> 
        Please show the payment id which has been emailed to you. 
    </div>
    <div class="col-md-6">
      <img src="/img/studentclub.jpg" alt="" class="img-fluid" style="margin-top:100px">
    </div>
  </div>
</section>