doctype html
html
  head
    title Cashfree - Signature Generator
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body(onload='document.frm1.submit()')
    // <body>
    form#frm1(action='#{url}', name='frm1', method='post')
      p Please wait.......
      script(type='text/javascript').
        var postData = JSON.parse('!{postData}');
        console.log(postData['orderId']);
        console.log(postData['appId']);
        console.log(postData['orderAmount']);
        console.log(postData['customerEmail']);
        console.log(postData['customerPhone']);
        console.log(postData['returnUrl']);
        console.log(postData['customerName']);
        console.log(postData['signature']);
        for(var key in postData){
        var input = document.createElement('input');
        input.setAttribute('type', 'hidden');
        input.setAttribute('value', postData[key]);
        input.setAttribute('name', key);
        document.getElementById("frm1").appendChild(input);
        }