.main_form{
    width:50rem;
    /* margin-top: 10rem; */
    align-content: center;
}

@import url('https://fonts.googleapis.com/css?family=Muli');
.loginheader {
    font-family: "Muli";
    text-align: center;
    font-size:5rem; 
    font-weight: bold;

}

.formfields{
    margin: 1rem;
}